/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  color: #fff;
  background-color: #000000;
  /* background-color: #4d002a; */
  --bg: #000000;
  /* --bg: #4d002a; */

  --loader-pink: #000000;
  /* --loader-pink: #2f001a; */
  --highlight: #fff;
  --submit: #4169e1;
  --link-color: #fff;
  --link-bg: #4169e1;
  /* --link-bg: #ff008c; */
  --different: #29353a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body.disable-scroll {
  overflow: hidden;
}

/* 
.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  background-color: var(--loader-pink);
}

.pre-loader div {
  text-transform: uppercase;
  text-align: center;


  font-size: 7vmax;
  letter-spacing: -0.3vmax;
  line-height: 1.2;
}

.abcd {
  color: var(--highlight);
  font-weight: 500;
}

p sub {
  font-size: 4vmax;
}

.pre-loader svg {
  width: 6vmax; 
  fill: var(--highlight);
  filter: drop-shadow(0 0 10px var(--highlight));
  animation: loading-anim 0.9s linear infinite alternate;
}

@keyframes loading-anim {
  to {
    transform: rotate(135deg) scale(0.7);
  }
}

.pre-loader.close {
  transition: transform 1s ease;
  transform: translateY(-100%);
} */

#dot {
  background-color: var(--highlight);
  width: 24px;
  height: 24px;
  position: fixed;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 8px #ffffff);
  filter: drop-shadow(0 0 8px #ffffff);
  opacity: 0.5;
  scale: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  /* z-index: 55; */
}

main::before {
  content: "";
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 90%;
  left: 0%;
  width: 400px;
  height: 300px;
  -webkit-filter: blur(150px);
  filter: blur(150px);
  background: -o-radial-gradient(
    70% 70%,
    circle,
    var(--loader-pink),
    var(--highlight)
  );
  background: radial-gradient(
    circle at 70% 70%,
    var(--loader-pink),
    var(--highlight)
  );
  opacity: 0.7;
  z-index: 55;
  pointer-events: none;
}

main::after {
  content: "";
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 30%;
  left: 80%;
  width: 200px;
  height: 300px;
  -webkit-filter: blur(180px);
  filter: blur(180px);
  background: -o-radial-gradient(
    50% 50%,
    circle,
    var(--loader-pink),
    var(--highlight)
  );
  background: radial-gradient(
    circle at 50% 50%,
    var(--loader-pink),
    var(--highlight)
  );
  opacity: 0.7;
  z-index: 55;
  pointer-events: none;
}

nav {
  position: fixed;
  z-index: 50;
  width: -webkit-fill-available;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [9];
  grid-template-columns: repeat(9, 1fr);

  margin-inline: 2rem;
  padding: 8px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.logo {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

[data-theme="dark"] .logo::before {
  content: url(/logo/abcd-l.svg);
}

nav a {
  all: unset;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  -ms-grid-column-align: end;
  justify-self: end;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2.2px;
  background-color: var(--highlight);
  border-radius: 50%;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

nav a:hover::after {
  width: 104%;
}

nav .abcd {
  color: var(--highlight);
  white-space: nowrap;
}

nav a span {
  position: absolute;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transform: translate(3rem, -0.5rem);
  -ms-transform: translate(3rem, -0.5rem);
  transform: translate(3rem, -0.5rem);
}

nav a.nav-active::before {
  content: "\2726";
  font-size: 1rem;
  margin-left: 10px;
}

#theme-btn {
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  -ms-grid-column-align: end;
  justify-self: end;
}

#sun,
#moon {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

[data-theme="dark"] #sun {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

[data-theme="dark"] #moon {
  -webkit-transform: translate(-125%);
  -ms-transform: translate(-125%);
  transform: translate(-125%);
}

nav i#menu {
  /*i#mobile-menu nav.mobile-menu*/
  display: none;
}

header {
  padding-inline: 2rem;
  padding-top: 12vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (auto) [2];
  grid-template-rows: repeat(2, auto);
}

header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

header > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

header > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.heading {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}

header h1 {
  /* font-size: 3rem; */
  font-size: 3.4vw;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--highlight);
}

header img {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

.description {
  -ms-grid-column-align: center;
  justify-self: center;
}

.description p {
  margin-left: 6px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.double-elem h3 {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  padding: 0 10px;
  background-color: var(--link-bg);
  border-radius: 1rem;
  color: var(--link-color);
  font-size: 1.6rem;
  border: 2px solid;
  margin-right: -12px;
  overflow: hidden;
}

.double-elem h3:nth-child(2n) {
  background-color: var(--different);
}

.double-elem h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 100%;
  scale: 1.1;
  border-radius: 50%;
  background-color: var(--link-color);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.double-elem h3 a {
  all: unset;
  position: relative;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.double-elem h3:hover::after {
  bottom: 0;
  border-radius: 0;
}

.double-elem h3:hover a {
  color: var(--link-bg);
}

.ruler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.5rem 3rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: -0.4px;
  line-height: 1.2;
  border-top: 1.5px solid;
}


[data-theme="light"] {
  color: #000;
  background-color: #ffffff;
  --bg: #ffffff;
  --loader-pink: #d1dcff;
  /* --loader-pink: #ffa4d6; */
  --highlight: #4169e1;
  --submit: #ffffff;
  /* --highlight: #ff008c; */
  --link-color: #fff;
  --link-bg: #4169e1;
  /* --link-bg: #ff008c; */
  --different: #000000;
}

[data-theme="light"] main::before {
  top: 80%;
  left: 8%;
  background: -o-radial-gradient(
    50% 50%,
    circle,
    var(--loader-pink),
    var(--highlight)
  );
  background: radial-gradient(
    circle at 50% 50%,
    var(--loader-pink),
    var(--highlight)
  );
}

[data-theme="light"] #moon {
  -webkit-transform: translate(-125%, 100%);
  -ms-transform: translate(-125%, 100%);
  transform: translate(-125%, 100%);
}

[data-theme="light"] .logo::before {
  content: url(/logo/abcd-d.svg);
}