/* BREAKPOINTS */

@media (max-width: 975px) {
    nav {
      /*.menu*/
      -ms-grid-columns: (1fr) [7];
      grid-template-columns: repeat(7, 1fr);
    }
    .logo {
      -ms-grid-column: 1;
      grid-column: 1;
    }
  
    header {
      -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
    }
    header img {
      width: 400px;
    }
  
    .about img {
      width: 30%;
    }
    .about-content {
      width: 70%;
    }
    .about-content h3 {
      font-size: 1.2rem;
    }
    .about-content span {
      font-size: 0.8rem;
      font-weight: 700;
    }
  
    .content img {
      width: 50%;
    }
  }
  
  @media (max-width: 776px) {
    #dot {
      display: none;
    }
  
    main::before {
      z-index: 55;
      pointer-events: none;
      width: 250px;
      height: 200px;
    }
  
    main::after {
      width: 250px;
      height: 200px;
    }
  
    nav i#menu {
      display: initial;
      font-size: 1.5rem;
      font-weight: 500;
      -ms-grid-column-align: end;
      justify-self: end;
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 5;
      grid-column: 5;
      -webkit-transition: rotate 0.3s ease-in;
      -o-transition: rotate 0.3s ease-in;
      transition: rotate 0.3s ease-in;
    }
    nav {
      -ms-grid-columns: (auto) [5];
      grid-template-columns: repeat(5, auto);
      -ms-grid-rows: 2.5rem 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
      grid-template-rows: 2.5rem repeat(5, 1fr);
      row-gap: 1rem;
      height: 3rem;
      overflow: hidden;
      margin: initial;
      top: 0;
      padding-top: 1rem;
      padding-inline: 2rem;
      -webkit-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
    }
    nav > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    nav > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    nav > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    nav > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
    }
    nav > *:nth-child(5) {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    nav > *:nth-child(6) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    nav > *:nth-child(7) {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }
    nav > *:nth-child(8) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
    nav > *:nth-child(9) {
      -ms-grid-row: 3;
      -ms-grid-column: 4;
    }
    nav > *:nth-child(10) {
      -ms-grid-row: 3;
      -ms-grid-column: 5;
    }
    nav > *:nth-child(11) {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }
    nav > *:nth-child(12) {
      -ms-grid-row: 5;
      -ms-grid-column: 2;
    }
    nav > *:nth-child(13) {
      -ms-grid-row: 5;
      -ms-grid-column: 3;
    }
    nav > *:nth-child(14) {
      -ms-grid-row: 5;
      -ms-grid-column: 4;
    }
    nav > *:nth-child(15) {
      -ms-grid-row: 5;
      -ms-grid-column: 5;
    }
    nav > *:nth-child(16) {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
    }
    nav > *:nth-child(17) {
      -ms-grid-row: 7;
      -ms-grid-column: 2;
    }
    nav > *:nth-child(18) {
      -ms-grid-row: 7;
      -ms-grid-column: 3;
    }
    nav > *:nth-child(19) {
      -ms-grid-row: 7;
      -ms-grid-column: 4;
    }
    nav > *:nth-child(20) {
      -ms-grid-row: 7;
      -ms-grid-column: 5;
    }
    nav > *:nth-child(21) {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
    }
    nav > *:nth-child(22) {
      -ms-grid-row: 9;
      -ms-grid-column: 2;
    }
    nav > *:nth-child(23) {
      -ms-grid-row: 9;
      -ms-grid-column: 3;
    }
    nav > *:nth-child(24) {
      -ms-grid-row: 9;
      -ms-grid-column: 4;
    }
    nav > *:nth-child(25) {
      -ms-grid-row: 9;
      -ms-grid-column: 5;
    }
    nav > *:nth-child(26) {
      -ms-grid-row: 11;
      -ms-grid-column: 1;
    }
    nav > *:nth-child(27) {
      -ms-grid-row: 11;
      -ms-grid-column: 2;
    }
    nav > *:nth-child(28) {
      -ms-grid-row: 11;
      -ms-grid-column: 3;
    }
    nav > *:nth-child(29) {
      -ms-grid-row: 11;
      -ms-grid-column: 4;
    }
    nav > *:nth-child(30) {
      -ms-grid-row: 11;
      -ms-grid-column: 5;
    }
    nav a {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row-align: start;
      -ms-grid-column-align: start;
      place-self: start;
      font-size: min(7vh, 4rem);
      font-weight: 400;
    }
  
    header {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      padding-top: 3rem;
    }
  
    header > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    header img {
      width: 80vw;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    .heading {
      -ms-grid-row: 2;
      grid-row: 2;
    }
    header h1 {
      font-size: 5.5vw;
      font-weight: 600;
    }
    .double-elem {
      text-align: center;
    }
  
    #about-page {
      -ms-grid-row: 2;
      grid-row: 2;
    }
    #services-page {
      -ms-grid-row: 3;
      grid-row: 3;
    }
    #students-page {
      -ms-grid-row: 4;
      grid-row: 4;
    }
  
    nav a:nth-child(5) {
      -ms-grid-row: 5;
      grid-row: 5;
    }
    nav a:nth-child(6) {
      -ms-grid-row: 6;
      grid-row: 6;
    }
    nav.show-page {
      background-color: var(--bg);
      height: 100%;
    }
    #menu.nav-active {
      rotate: -90deg;
    }
    nav a::before {
      display: inline-block;
      content: "\2726";
      font-size: 5vh;
      margin-inline: 10px;
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    nav a::after {
      height: 4px;
    }
    nav a span {
      font-size: min(4vh, 2rem);
      /* transform: translate(7rem, -0.5rem); */
    }
    nav a.nav-active::before {
      font-size: 5vh;
    }
    #theme-btn {
      font-size: 1.5rem;
  
      -ms-grid-row: 1;
  
      grid-row: 1;
      -ms-grid-column: 4;
      grid-column: 4;
    }
  
    .description p {
      font-size: 3.5vw;
      font-weight: 500;
      margin-top: 1rem;
    }
    /* .double-elem h3 {
      font-size: 1.9rem;
      border-radius: 20px;
      border: 2px solid;
      padding: 2px 12px;
    } */
  
    .ruler {
      margin: 1.5rem;
    }
    .about,
    .more-info {
      width: 95vw;
    }
    .about img {
      width: 40%;
    }
    .about-content {
      width: 60%;
    }
    .about-content h3 {
      font-size: 1.2rem;
    }
    .about-content span {
      font-size: 0.8rem;
      font-weight: 700;
    }
  
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .content img {
      width: 80%;
    }
  
    .cards {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 2rem;
    }
    .cards > * {
      width: 80%;
    }
    .card h3 {
      font-size: 5vw;
    }
    .card h4 {
      font-size: 4vw;
    }
  
    .videos iframe {
      max-width: 85vw;
      height: 50vw;
    }
  
    .services-page,
    .students-page {
      padding-top: 12vh;
    }
  }
  
  @media (max-width: 550px) {
    /* .pre-loader div {
      font-size: 7vh; 
      letter-spacing: -0.3vh; 
    }
    p sub {
      font-size: 4vh; 
    }
    .pre-loader svg {
      width: 6vh; 
    } */
    nav {
      padding-inline: 1rem;
      -ms-grid-columns: (auto) [3];
      grid-template-columns: repeat(3, auto);
    }
    nav a {
      font-size: 5vh;
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    nav a span {
      font-size: 3vh;
    }
    nav a::before {
      font-size: 4vh;
    }
    #theme-btn {
      -ms-grid-column: 3;
      grid-column: 3;
    }
  
    header h1 {
      font-size: 6vw;
    }
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .about img {
      width: 55%;
      padding-top: 1rem;
    }
    .about-content {
      width: auto;
    }
  
    .more-info {
      width: 100vw;
      gap: 7%;
    }
    .info {
      width: 25%;
      text-align: center;
    }
    .info i {
      font-size: 2rem;
    }
    .info p {
      font-size: 0.8rem;
    }
  
    .content img {
      width: 90%;
    }
  
    .student-card {
      width: 150px;
    }
    .student-card img {
      width: 53px;
      height: 53px;
      top: -35%;
    }
    .student-card div {
      white-space: inherit;
    }
  }
  
  @media (min-width: 1440px) {
    nav.menu {
      -ms-grid-columns: (1fr) [8];
      grid-template-columns: repeat(8, 1fr);
    }
    .logo {
      -ms-grid-column-span: 2;
      grid-column: span 2;
    }
  }
  